# App
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Auth.js
AUTH_SECRET=secret-to-change-with-a-real-secret
AUTH_URL=http://localhost:3000
AUTH_DEMO_EMAIL=prova@email.com
AUTH_DEMO_PASSWORD=11111111

# Database
DATABASE_URL=
