# App
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Auth.js
AUTH_SECRET=secret-to-change-with-a-real-secret
AUTH_URL=http://localhost:3000

# Database
DATABASE_URL=postgresql://culturando:culturando@127.0.0.1:5433/culturando
